*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 678px){
	.site-container{
		max-width: 670px;
		min-width: 350px;
		width: 100%;	
	}
}

/* HEADER ====================*/
header section {
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;
}

header section .header_logo{
    text-align: center;
}

/* MAIN SECTION ====================*/
#sec_maincontent .restaurants-header{
	margin-top: 20px;
    margin-left: 20px;
	margin-bottom: 20px;
}

#sec_maincontent .cards-container{
    flex-basis: 68%;
    margin: 0 1.5%;
    padding-top: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

#sec_maincontent .cards-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;   
}

#sec_maincontent .card-restaurant{
    width: 190px;
    height: 160px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 10px 2%;
}

#sec_maincontent .cards-container p{
    margin-top: 20px;
    margin-left: 20px;
}

#sec_maincontent .card-restaurant> *{
    padding-top: 2px;
}

#sec_maincontent .card-restaurant a{
	width: 100%;
}

#sec_maincontent .card-restaurant img{
    height: 80px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

#sec_maincontent .card-restaurant .card-title{
    font-weight:bold;
    padding-left: 5px;
}

#sec_maincontent .card-restaurant .card-description{
    font-size: 10px;
    padding-left: 5px;
}

#sec_maincontent .card-restaurant .card-rating-solid{
   color: #c0392b;
   padding-left: 5px;
   padding-top: 15px;
   padding-bottom: 15px;
}

#sec_maincontent .homepage p{
font-weight: bold;
 }

 #sec_maincontent .homepage a{
    color: #000000;
    text-decoration: none;
    transition: 0.5s all;
     }

#sec_maincontent .homepage a:hover{
    color: #c0392b;
}

/*Card with spinning heart ==================== */
.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #ffffff;
    color: #c0392b;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fff;
  }
  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }

/* FOOTER */
#sec_footer{
    flex-direction: column;
}

/* ==================== FONTS
Primary Purple #9356DC 
Secondary Pink #FF79DA 
Tertiary Mint #99E2D0 ====================*/